:root {
	--sidebarWidth: 30rem;
	--sidebarLeft: 15rem;
	--mob-menu-width: 18.75rem;
	--headerHeight: 4rem;
	--profileSideBar: 14rem;
	--statusStripOpacity: 0.15;
	--shadow: 1px 9px 1.3125rem #358fcf19;
	--spacing-none: 0;
	--radius-md: 0.5rem;
	--radius-sm: 0.375rem;
	--radius-lg: 0.625rem;

	--form-field-height: 2.5rem;
	--button-height: 2.5rem;
	--nav-button-height: 2.5rem;

	--active-color: #1c75bc;
	--scrollbar-track: #e3e3e3;
	--primary: #2ecbaa;
	--secondary: #ff8224;

	--icon-color: #98a2b3;
	--success: #28a745;
	--bg-success: #28a74520;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--smoke: #a7b3c4;
	--text-muted: #90a1b7;
	--smoke-light: #a7b3c420;
	--bg-danger: #ff000020;
	--bg-smoke: #f5f9ff;
	--bg-smoke-light: #a7b3c430;
	--text_muted: #8392a5;
	--btn-primary: #ff5124;
	--btn-secondary: #ff8324;
	--bg-btn-primary: linear-gradient(90deg, #ff8324 0%, #ff5124 100%);
	--bg-btn-secondary: linear-gradient(90deg, #2ecbaa 0%, #358fd0 100%) 0% 0% no-repeat padding-box;
	--featured-icon-light-fg-success: #079455;

	--spacing-3xl: 1.5rem;
	--spacing-4xl: 2rem;
	--spacing-2xl: 1.25rem;
	--spacing-xl: 1rem;
	--spacing-lg: 0.75rem;
	--spacing-md: 0.5rem;
	--spacing-smd: 0.375rem;
	--spacing-sm: 0.25rem;
	--spacing-xs: 0.125rem;
	--spacing-xxs: 0.125rem;

	--spacing-0: 0px;
	--spacing-0․5: 2px;
	--spacing-1: 4px;
	--spacing-1․5: 6px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-8: 32px;
	--spacing-10: 40px;
	--spacing-12: 48px;
	--spacing-16: 64px;
	--spacing-20: 80px;
	--spacing-24: 96px;
	--spacing-32: 128px;
	--spacing-40: 160px;
	--spacing-48: 192px;
	--spacing-56: 224px;
	--spacing-64: 256px;
	--spacing-80: 320px;
	--spacing-96: 384px;
	--spacing-120: 480px;
	--spacing-140: 560px;
	--spacing-160: 640px;
	--spacing-180: 720px;
	--spacing-192: 768px;
	--spacing-256: 1024px;
	--spacing-320: 1280px;
	--spacing-360: 1440px;
	--spacing-400: 1600px;
	--spacing-480: 1920px;
}

:root {
	--colors-base-white: #ffffff;
	--colors-base-black: #000000;
	--colors-base-transparent: #ffffff00;
	--colors-gray-25: #fcfcfd;
	--colors-gray-50: #f9fafb;
	--colors-gray-100: #f2f4f7;
	--colors-gray-200: #eaecf0;
	--colors-gray-300: #d0d5dd;
	--colors-gray-400: #98a1b2;
	--colors-gray-500: #667085;
	--colors-gray-600: #475467;
	--colors-gray-700: #344054;
	--colors-gray-800: #18212f;
	--colors-gray-900: #101828;
	--colors-gray-950: #0c111d;
	--colors-brand-25: #fff9f4;
	--colors-brand-50: #fff6ef;
	--colors-brand-100: #ffede0;
	--colors-brand-200: #ffdbc0;
	--colors-brand-300: #ffd3b1;
	--colors-brand-400: #ffa662;
	--colors-brand-500: #ff8224;
	--colors-brand-600: #f96c00;
	--colors-brand-700: #e46300;
	--colors-brand-800: #bb5100;
	--colors-brand-900: #913f00;
	--colors-brand-950: #682d00;
	--colors-error-25: #fefafa;
	--colors-error-50: #fef2f1;
	--colors-error-100: #fee3e1;
	--colors-error-200: #fecdc9;
	--colors-error-300: #fca19b;
	--colors-error-400: #f97066;
	--colors-error-500: #f04437;
	--colors-error-600: #d92c20;
	--colors-error-700: #b32218;
	--colors-error-800: #901f17;
	--colors-error-900: #7a2619;
	--colors-error-950: #54150c;
	--colors-warning-25: #fffcf4;
	--colors-warning-50: #fff9eb;
	--colors-warning-100: #feefc6;
	--colors-warning-200: #fede88;
	--colors-warning-300: #fec84a;
	--colors-warning-400: #fcb022;
	--colors-warning-500: #f78f08;
	--colors-warning-600: #db6803;
	--colors-warning-700: #b54707;
	--colors-warning-800: #93370c;
	--colors-warning-900: #792d0d;
	--colors-warning-950: #4e1d08;
	--colors-success-25: #f5fdf9;
	--colors-success-50: #ecfcf2;
	--colors-success-100: #dbf9e6;
	--colors-success-200: #aaefc6;
	--colors-success-300: #75dfa6;
	--colors-success-400: #47cd89;
	--colors-success-500: #17b169;
	--colors-success-600: #069454;
	--colors-success-700: #057647;
	--colors-success-800: #075d39;
	--colors-success-900: #074c30;
	--colors-success-950: #043320;
	--colors-grayblue-25: #fbfcfc;
	--colors-grayblue-50: #f8f8fb;
	--colors-grayblue-100: #eaebf5;
	--colors-grayblue-200: #d5d8eb;
	--colors-grayblue-300: #b2b8db;
	--colors-grayblue-400: #707abc;
	--colors-grayblue-500: #4e5aa6;
	--colors-grayblue-600: #3e4783;
	--colors-grayblue-700: #353e72;
	--colors-grayblue-800: #283056;
	--colors-grayblue-900: #101222;
	--colors-grayblue-950: #0d0f1b;
	--colors-graycool-25: #fbfcfc;
	--colors-graycool-50: #f8f9fb;
	--colors-graycool-100: #eff0f5;
	--colors-graycool-200: #dcdfe9;
	--colors-graycool-300: #b9bfd4;
	--colors-graycool-400: #7d89af;
	--colors-graycool-500: #5d6a97;
	--colors-graycool-600: #495478;
	--colors-graycool-700: #3f4968;
	--colors-graycool-800: #30374e;
	--colors-graycool-900: #111321;
	--colors-graycool-950: #0e101b;
	--colors-graymodern-25: #fbfcfc;
	--colors-graymodern-50: #f8f9fb;
	--colors-graymodern-100: #eef2f6;
	--colors-graymodern-200: #e3e8ee;
	--colors-graymodern-300: #cdd4de;
	--colors-graymodern-400: #99a3b2;
	--colors-graymodern-500: #697485;
	--colors-graymodern-600: #4a5565;
	--colors-graymodern-700: #354152;
	--colors-graymodern-800: #1f2939;
	--colors-graymodern-900: #111826;
	--colors-graymodern-950: #0c111b;
	--colors-grayiron-25: #fcfcfc;
	--colors-grayiron-50: #fafafa;
	--colors-grayiron-100: #f3f3f5;
	--colors-grayiron-200: #e3e3e7;
	--colors-grayiron-300: #d1d1d6;
	--colors-grayiron-400: #a0a0aa;
	--colors-grayiron-500: #6f707b;
	--colors-grayiron-600: #51515b;
	--colors-grayiron-700: #3e3e46;
	--colors-grayiron-800: #26262a;
	--colors-grayiron-900: #1a1a1e;
	--colors-grayiron-950: #131316;
	--colors-graytrue-25: #fcfcfc;
	--colors-graytrue-50: #fafafa;
	--colors-graytrue-100: #f5f5f5;
	--colors-graytrue-200: #e5e5e5;
	--colors-graytrue-300: #d6d6d6;
	--colors-graytrue-400: #a3a3a3;
	--colors-graytrue-500: #737373;
	--colors-graytrue-600: #525252;
	--colors-graytrue-700: #424242;
	--colors-graytrue-800: #282828;
	--colors-graytrue-900: #141414;
	--colors-graytrue-950: #0f0f0f;
	--colors-graywarm-25: #fcfcfc;
	--colors-graywarm-50: #fafaf8;
	--colors-graywarm-100: #f5f5f3;
	--colors-graywarm-200: #e7e4e3;
	--colors-graywarm-300: #d6d2d0;
	--colors-graywarm-400: #a8a19d;
	--colors-graywarm-500: #78706b;
	--colors-graywarm-600: #57524d;
	--colors-graywarm-700: #443f3b;
	--colors-graywarm-800: #292423;
	--colors-graywarm-900: #1c1816;
	--colors-graywarm-950: #161312;
	--colors-moss-25: #f9fcf6;
	--colors-moss-50: #f4faee;
	--colors-moss-100: #e5f4d6;
	--colors-moss-200: #cdeaaf;
	--colors-moss-300: #acdb79;
	--colors-moss-400: #85cb3b;
	--colors-moss-500: #669e2a;
	--colors-moss-600: #4e7a20;
	--colors-moss-700: #3f611a;
	--colors-moss-800: #334f15;
	--colors-moss-900: #2a4211;
	--colors-moss-950: #1a280b;
	--colors-greenlight-25: #fafef5;
	--colors-greenlight-50: #f3fde7;
	--colors-greenlight-100: #e3fbcb;
	--colors-greenlight-200: #cff7aa;
	--colors-greenlight-300: #a6ef66;
	--colors-greenlight-400: #85e139;
	--colors-greenlight-500: #65c51c;
	--colors-greenlight-600: #4ba30c;
	--colors-greenlight-700: #3a7c0e;
	--colors-greenlight-800: #316211;
	--colors-greenlight-900: #2b5313;
	--colors-greenlight-950: #15290a;
	--colors-green-25: #f5fdf9;
	--colors-green-50: #ecfcf1;
	--colors-green-100: #d2f8de;
	--colors-green-200: #aaefc3;
	--colors-green-300: #72e2a3;
	--colors-green-400: #3bcb7e;
	--colors-green-500: #16b264;
	--colors-green-600: #09914f;
	--colors-green-700: #087343;
	--colors-green-800: #095b36;
	--colors-green-900: #084b2e;
	--colors-green-950: #052d1c;
	--colors-teal-25: #f6fefc;
	--colors-teal-50: #f0fcf9;
	--colors-teal-100: #ccfaef;
	--colors-teal-200: #99f5e0;
	--colors-teal-300: #5ee9cf;
	--colors-teal-400: #2ed2b7;
	--colors-teal-500: #15b69e;
	--colors-teal-600: #0d9383;
	--colors-teal-700: #0f7569;
	--colors-teal-800: #115d55;
	--colors-teal-900: #134d47;
	--colors-teal-950: #0a2926;
	--colors-cyan-25: #f5feff;
	--colors-cyan-50: #ebfdff;
	--colors-cyan-100: #cff8fe;
	--colors-cyan-200: #a5f0fb;
	--colors-cyan-300: #67e3f9;
	--colors-cyan-400: #22cbed;
	--colors-cyan-500: #05aed4;
	--colors-cyan-600: #078ab2;
	--colors-cyan-700: #0d6f90;
	--colors-cyan-800: #155b75;
	--colors-cyan-900: #154b63;
	--colors-cyan-950: #0c2c3a;
	--colors-bluelight-25: #f4faff;
	--colors-bluelight-50: #f0f9ff;
	--colors-bluelight-100: #dff2fe;
	--colors-bluelight-200: #b9e5fd;
	--colors-bluelight-300: #7bd4fd;
	--colors-bluelight-400: #36bff9;
	--colors-bluelight-500: #0ba4eb;
	--colors-bluelight-600: #0085c9;
	--colors-bluelight-700: #016aa2;
	--colors-bluelight-800: #055986;
	--colors-bluelight-900: #0a4a6f;
	--colors-bluelight-950: #062b40;
	--colors-blue-25: #f4f9ff;
	--colors-blue-50: #eff8ff;
	--colors-blue-100: #d1e9ff;
	--colors-blue-200: #b2ddff;
	--colors-blue-300: #84caff;
	--colors-blue-400: #53b0fd;
	--colors-blue-500: #2e90fa;
	--colors-blue-600: #156fee;
	--colors-blue-700: #175cd3;
	--colors-blue-800: #1849a9;
	--colors-blue-900: #194084;
	--colors-blue-950: #102955;
	--colors-bluedark-25: #f4f8ff;
	--colors-bluedark-50: #eff4ff;
	--colors-bluedark-100: #d1e0ff;
	--colors-bluedark-200: #b2cbff;
	--colors-bluedark-300: #83adff;
	--colors-bluedark-400: #518bff;
	--colors-bluedark-500: #2970fe;
	--colors-bluedark-600: #155dee;
	--colors-bluedark-700: #004eea;
	--colors-bluedark-800: #0040c1;
	--colors-bluedark-900: #00349e;
	--colors-bluedark-950: #002266;
	--colors-indigo-25: #f4f8ff;
	--colors-indigo-50: #eef3ff;
	--colors-indigo-100: #dfeaff;
	--colors-indigo-200: #c6d7fe;
	--colors-indigo-300: #a3bbfd;
	--colors-indigo-400: #7f98f9;
	--colors-indigo-500: #6071f3;
	--colors-indigo-600: #444ce6;
	--colors-indigo-700: #3537cc;
	--colors-indigo-800: #2d31a5;
	--colors-indigo-900: #2c3282;
	--colors-indigo-950: #1f235b;
	--colors-violet-25: #faf9ff;
	--colors-violet-50: #f4f3ff;
	--colors-violet-100: #ece8fe;
	--colors-violet-200: #dcd5fe;
	--colors-violet-300: #c3b4fd;
	--colors-violet-400: #a48afa;
	--colors-violet-500: #875af7;
	--colors-violet-600: #7839ed;
	--colors-violet-700: #6826da;
	--colors-violet-800: #5720b6;
	--colors-violet-900: #481c95;
	--colors-violet-950: #2d115e;
	--colors-purple-25: #faf9ff;
	--colors-purple-50: #f3f3ff;
	--colors-purple-100: #eae8fe;
	--colors-purple-200: #d9d5fe;
	--colors-purple-300: #bcb4fd;
	--colors-purple-400: #9a89fb;
	--colors-purple-500: #7959f8;
	--colors-purple-600: #6838ee;
	--colors-purple-700: #5925db;
	--colors-purple-800: #4a1fb7;
	--colors-purple-900: #3e1b96;
	--colors-purple-950: #27115e;
	--colors-fuchsia-25: #fef9fe;
	--colors-fuchsia-50: #fdf4fe;
	--colors-fuchsia-100: #fae8fe;
	--colors-fuchsia-200: #f6d0fd;
	--colors-fuchsia-300: #edaafc;
	--colors-fuchsia-400: #e477fa;
	--colors-fuchsia-500: #d444f0;
	--colors-fuchsia-600: #ba24d4;
	--colors-fuchsia-700: #9f1ab0;
	--colors-fuchsia-800: #821790;
	--colors-fuchsia-900: #6e1876;
	--colors-fuchsia-950: #47104c;
	--colors-pink-25: #fdf6fb;
	--colors-pink-50: #fdf1f9;
	--colors-pink-100: #fce6f5;
	--colors-pink-200: #fbceee;
	--colors-pink-300: #f9a7df;
	--colors-pink-400: #f570c7;
	--colors-pink-500: #ed46bb;
	--colors-pink-600: #dc2590;
	--colors-pink-700: #c01573;
	--colors-pink-800: #9e155e;
	--colors-pink-900: #841651;
	--colors-pink-950: #4e0d30;
	--colors-rosé-25: #fff4f6;
	--colors-rosé-50: #fef1f2;
	--colors-rosé-100: #ffe3e7;
	--colors-rosé-200: #feccd5;
	--colors-rosé-300: #fea2b3;
	--colors-rosé-400: #fc6f8d;
	--colors-rosé-500: #f53d68;
	--colors-rosé-600: #e31a53;
	--colors-rosé-700: #c00f47;
	--colors-rosé-800: #a10f42;
	--colors-rosé-900: #89113d;
	--colors-rosé-950: #510a24;
	--colors-orangedark-25: #fff8f4;
	--colors-orangedark-50: #fff3ed;
	--colors-orangedark-100: #ffe5d5;
	--colors-orangedark-200: #fed6ad;
	--colors-orangedark-300: #ff9b65;
	--colors-orangedark-400: #fe692d;
	--colors-orangedark-500: #ff4305;
	--colors-orangedark-600: #e52d04;
	--colors-orangedark-700: #bb1b05;
	--colors-orangedark-800: #96170c;
	--colors-orangedark-900: #77190d;
	--colors-orangedark-950: #571209;
	--colors-orange-25: #fef9f5;
	--colors-orange-50: #fef5ed;
	--colors-orange-100: #fcead7;
	--colors-orange-200: #f8dbaf;
	--colors-orange-300: #f7b279;
	--colors-orange-400: #f38743;
	--colors-orange-500: #ef681f;
	--colors-orange-600: #df4f16;
	--colors-orange-700: #b93814;
	--colors-orange-800: #932f18;
	--colors-orange-900: #762817;
	--colors-orange-950: #501b0f;
	--colors-yellow-25: #fefcf0;
	--colors-yellow-50: #fefbe8;
	--colors-yellow-100: #fdf7c3;
	--colors-yellow-200: #feee94;
	--colors-yellow-300: #fde272;
	--colors-yellow-400: #fac414;
	--colors-yellow-500: #eaa907;
	--colors-yellow-600: #ca8403;
	--colors-yellow-700: #a15b06;
	--colors-yellow-800: #85490d;
	--colors-yellow-900: #713b11;
	--colors-yellow-950: #542c0d;
}

/* -------------------------- default theme -------------------- */
:root {
	--text-primary: var(--colors-gray-900);
	--text-primary_on-brand: var(--colors-base-white);
	--text-secondary: var(--colors-gray-700);
	--text-secondary_hover: var(--colors-gray-800);
	--text-secondary_on-brand: var(--colors-brand-200);
	--text-tertiary: var(--colors-gray-600);
	--text-tertiary_hover: var(--colors-gray-700);
	--text-tertiary_on-brand: var(--colors-brand-200);
	--text-quaternary: var(--colors-gray-500);
	--text-quaternary_on-brand: var(--colors-brand-300);
	--text-white: var(--colors-base-white);
	--text-disabled: var(--colors-gray-500);
	--text-placeholder: var(--colors-gray-500);
	--text-placeholder_subtle: var(--colors-gray-300);
	--text-brand-primary: var(--colors-brand-700);
	--text-brand-secondary: var(--colors-brand-600);
	--text-brand-tertiary: var(--colors-brand-500);
	--text-brand-tertiary_alt: var(--colors-brand-400);
	--text-error-primary: var(--colors-error-600);
	--text-warning-primary: var(--colors-warning-600);
	--text-success-primary: var(--colors-success-600);
	--border-primary: var(--colors-gray-300);
	--border-secondary: var(--colors-gray-200);
	--border-tertiary: var(--colors-gray-100);
	--border-disabled: var(--colors-gray-300);
	--border-disabled_subtle: var(--colors-gray-200);
	--border-brand: var(--colors-brand-300);
	--border-brand-solid: var(--colors-brand-600);
	--border-brand-solid_alt: var(--colors-brand-600);
	--border-error: var(--colors-error-300);
	--border-error-solid: var(--colors-error-600);
	--colors-foreground-fg-primary: var(--colors-gray-900);
	--badge-border: #a6a6a6;
	--bg-primary: var(--colors-base-white);
	--bg-primary_alt: var(--colors-base-white);
	--bg-primary_hover: var(--colors-gray-50);
	--bg-primary-solid: var(--colors-gray-950);
	--bg-secondary: var(--colors-gray-50);
	--bg-secondary_alt: var(--colors-gray-50);
	--bg-secondary_hover: var(--colors-gray-100);
	--bg-secondary_subtle: var(--colors-gray-25);
	--bg-secondary-solid: var(--colors-gray-600);
	--bg-tertiary: var(--colors-gray-100);
	--bg-quaternary: var(--colors-gray-200);
	--bg-active: var(--colors-gray-50);
	--bg-disabled: var(--colors-gray-100);
	--bg-disabled_subtle: var(--colors-gray-50);
	--bg-overlay: var(--colors-gray-950);
	--bg-brand-primary: var(--colors-brand-50);
	--bg-brand-primary_alt: var(--colors-brand-50);
	--bg-brand-secondary: var(--colors-brand-100);
	--bg-brand-solid: var(--colors-brand-600);
	--bg-brand-solid_hover: var(--colors-brand-700);
	--bg-brand-section: var(--colors-brand-800);
	--bg-brand-section_subtle: var(--colors-brand-700);
	--bg-error-primary: var(--colors-error-50);
	--bg-error-secondary: var(--colors-error-100);
	--bg-error-solid: var(--colors-error-600);
	--bg-warning-primary: var(--colors-warning-50);
	--bg-warning-secondary: var(--colors-warning-100);
	--bg-warning-solid: var(--colors-warning-600);
	--bg-success-primary: var(--colors-success-50);
	--bg-success-secondary: var(--colors-success-100);
	--bg-success-solid: var(--colors-success-600);

	--fg-secondary: var(--colors-gray-700);
	--fg-secondary_hover: var(--colors-gray-800);
	--fg-tertiary: var(--colors-gray-600);
	--fg-tertiary_hover: var(--colors-gray-700);
	--fg-quaternary: var(--colors-gray-500);
	--fg-quaternary_hover: var(--colors-gray-600);
	--fg-quinary: var(--colors-gray-400);
	--fg-quinary_hover: var(--colors-gray-500);
	--fg-senary: var(--colors-gray-300);
	--fg-white: var(--colors-base-white);
	--fg-disabled: var(--colors-gray-400);
	--fg-disabled_subtle: var(--colors-gray-300);
	--fg-brand-primary: var(--colors-brand-600);
	--fg-brand-primary_alt: var(--colors-brand-600);
	--fg-brand-secondary: var(--colors-brand-500);
	--fg-error-primary: var(--colors-error-600);
	--fg-error-secondary: var(--colors-error-500);
	--fg-warning-primary: var(--colors-warning-600);
	--fg-warning-secondary: var(--colors-warning-500);
	--fg-success-primary: var(--colors-success-600);
	--fg-success-secondary: var(--colors-success-500);

	--nav-item-button-icon-fg: var(--colors-gray-500);
	--nav-item-button-icon-fg_active: var(--colors-gray-700);
	--nav-item-icon-fg: var(--colors-gray-500);
	--nav-item-icon-fg_active: var(--colors-gray-500);
	--avatar-bg: var(--colors-gray-100);
	--avatar-profile-photo-border: var(--colors-base-white);
	--avatar-contrast-border: #00000014;
	--avatar-focus-border: #98a1b223;
	--breadcrumb-fg: var(--colors-gray-600);
	--breadcrumb-fg_hover: var(--colors-gray-700);
	--breadcrumb-bg_hover: var(--colors-gray-50);
	--breadcrumb-brand-fg_hover: var(--colors-brand-700);
	--breadcrumb-brand-bg_hover: var(--colors-brand-50);
	--breadcrumb-icon-fg: var(--colors-gray-500);
	--breadcrumb-icon-fg_hover: var(--colors-gray-700);
	--breadcrumb-brand-icon-fg_hover: var(--colors-brand-700);
	--button-primary-fg: var(--colors-base-white);
	--button-primary-fg_hover: var(--colors-base-white);
	--button-primary-bg: var(--colors-brand-500);
	--button-primary-bg_hover: var(--colors-brand-600);
	--button-primary-border: var(--colors-brand-500);
	--button-primary-border_hover: var(--colors-brand-600);
	--button-secondary-fg: #344054;
	--button-secondary-fg_hover: var(--colors-gray-800);
	--button-secondary-bg: #ffffff;
	--button-secondary-bg_hover: var(--colors-gray-50);
	--button-secondary-border: #d0d5dd;
	--button-secondary-border_hover: var(--colors-gray-300);
	--button-secondary-color-fg: var(--colors-brand-600);
	--button-secondary-color-fg_hover: var(--colors-brand-700);
	--button-secondary-color-bg: var(--colors-base-white);
	--button-secondary-color-bg_hover: var(--colors-brand-50);
	--button-secondary-color-border: var(--colors-brand-300);
	--button-secondary-color-border_hover: var(--colors-brand-300);
	--button-tertiary-fg: var(--colors-gray-600);
	--button-tertiary-fg_hover: var(--colors-gray-700);
	--button-tertiary-bg_hover: var(--colors-gray-50);
	--button-tertiary-color-fg: var(--colors-brand-500);
	--button-tertiary-color-fg_hover: var(--colors-brand-600);
	--button-tertiary-color-bg_hover: var(--colors-brand-50);
	--button-primary-error-fg: var(--colors-base-white);
	--button-primary-error-fg_hover: var(--colors-base-white);
	--button-primary-error-bg: var(--colors-error-600);
	--button-primary-error-bg_hover: var(--colors-error-700);
	--button-primary-error-border: var(--colors-error-600);
	--button-primary-error-border_hover: var(--colors-error-700);
	--button-secondary-error-fg: var(--colors-error-700);
	--button-secondary-error-fg_hover: var(--colors-error-800);
	--button-secondary-error-bg: var(--colors-base-white);
	--button-secondary-error-bg_hover: var(--colors-error-50);
	--button-secondary-error-border: var(--colors-error-300);
	--button-secondary-error-border_hover: var(--colors-error-300);
	--button-tertiary-error-fg: var(--colors-error-700);
	--button-tertiary-error-fg_hover: var(--colors-error-800);
	--button-tertiary-error-bg_hover: var(--colors-error-50);
}

:root body[theme="light"] {
	--button-primary-bg: var(--colors-brand-500);
}
:root body[theme="dark"] {
	--button-primary-bg: #000;
}


/*# sourceMappingURL=main.d90a625a.css.map*/